body {
    background-color: #f4f3f4;
}

.artworkTitle {
    background-image: linear-gradient(to right,#845fa1,#34283e);
    height: 17vw;
    border-bottom-right-radius: 15vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5vw;
    font-size: 4vw;
    font-weight: 600;
    margin-bottom: 1.5vw;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.4);
}

.singleArtworkContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1000%;
}
.singleArtworkImage {
    width: 90%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vw auto 8vw;
}

.divButtons {
    position: absolute;
    top: -4vw;
    left: 5vw;
}

.divButtons button {
    background-image: white;
    border: none;
    outline: none;
    height: 60%;
    border-radius: 150px;
    font-size: 2.8vw;
    padding: 2.2vw;
    font-weight: 500;
    background-color: white;
    margin-right: 1vw;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.ArtFeaturesContainer {
    position: relative;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0%;
}

.artDescription {
    margin-top: 5vw;
    margin-left: 2vw;
    margin-right: 5vw;
    /* width: 42vw; */
    align-items:flex-start;
    margin-top: 6vw;
    margin-left: 6vw;
    margin-bottom: 1%;
    font-size: 2vw;
}

.priceSubtitle {
    margin-top: 3%;
    margin-right: 6%;
    margin-bottom: 1%;
    font-size: 2vw;
    font-weight: 600;
}
.artworkPrice {
    margin-top: 3%;
    margin-right: 6%;
    margin-bottom: 1%;
    font-size: 2vw;
    font-weight: 600;
}

.buyButton {
    background: rgb(231, 202, 127);
    border: none;
    outline: none;
}
