body {
    background-color: #f4f3f4;
}

.artworkTitle {
    background-image: linear-gradient(to right,#845fa1,#34283e);
    height: 17vw;
    border-bottom-right-radius: 15vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5vw;
    font-size: 4vw;
    font-weight: 600;
    margin-bottom: 1.5vw;
    box-shadow: 0.3vw 0.3vw 0.6vw 0 rgba(0, 0, 0, 0.4);
    position: relative;
}

.editIcon {
    height: 7vw;
    position: absolute;
    top: 26vw;
    right: 9vw;
}

.singleArtworkImage {
    width: 90vw;
    height: auto;
    border-radius: 5vw;
    margin: 4vw 5vw 8vw 5vw;
}

.divButtons {
    position: absolute;
    top: -4vw;
    left: 5vw;
}

.divButtons button {
    background-image: white;
    border: none;
    outline: none;
    height: 60%;
    border-radius: 150px;
    font-size: 2.8vw;
    padding: 2.2vw;
    font-weight: 500;
    background-color: white;
    margin-right: 1vw;
    box-shadow: 0.3vw 0.3vw 0.6vw 0 rgba(0, 0, 0, 0.2);
}

.ArtFeaturesContainer {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0.3vw 0.3vw 0.6vw 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 0.5vw;
}

.artDescription {
    align-items:flex-start;
    margin-top: 6vw;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 1%;
    font-size: 2.25vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.priceSubtitle {
    margin-top: 3%;
    margin-right: 6%;
    margin-bottom: 1%;
    font-size: 2vw;
    font-weight: 600;
}

.priceAndButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.artworkPrice {
    margin-top: 3%;
    margin-right: 6%;
    margin-bottom: 1%;
    font-size: 3vw;
    font-weight: 600;
}

.buyButton {
    background: rgb(231, 202, 127);
    border: none;
    outline: none;
    width: 30vw;
    height: 7vw;
    font-size: 2.5vw;
    font-weight: 400;
    border-radius: 1vw;
    font-weight: 600;
    color: white;
}

.artistTitle {
    margin-top: 5.5vw;
    margin-bottom: 1vw;
    padding-left: 5vw;
    font-size: 3vw;
    font-weight: 600;
}

.artistContainer {
    padding: 0 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18.5vw;
}


.artistDescription {
    width:65vw;
    font-size: 2.5vw;
}

.profilePicture {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 1vw;
    box-shadow: 0.3vw 0.3vw 0.6vw 0 rgba(0, 0, 0, 0.4);
}

.artistName {
    margin-bottom: 1vw;
    font-size: 4vw;
    font-weight: 600;
}

.artistHr {
    border-top: rgb(0, 0, 0) 1px solid;
    width: 90vw;
    margin: 0 5vw 5vw;
}