.title {
  background-image: linear-gradient(to right, #845fa1, #34283e);
  height: 17vw;
  border-bottom-right-radius: 15vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5vw;
  font-size: 4vw;
  font-weight: 600;
  margin-bottom: 1.5vw;
  box-shadow: 0.3vw 0.3vw 0.6vw 0 rgba(0, 0, 0, 0.4);
}

.titleHr {
  display: none;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 4vw 1.5% 15vw 1.5%;
}

.singleCreatorContainer {
  background-color: rgb(255, 255, 255);
  width: 46%;
  border-radius: 4%;
  margin: 0 2% 4%;
  box-shadow: 0.3vw 0.3vw 0.6vw 0px rgba(0, 0, 0, 0.2);
  position: relative;
  height: 62vw;
}

.singleCreatorArtwork {
  width: 100%;
  height: 28vw;
  border-radius: 2.2vw 2.2vw 0 0;
  object-fit: cover;
  z-index: -1;
}

.singleCreatorName {
  margin-top: 14%;
  margin-left: 6%;
  margin-bottom: 1%;
  font-size: 3.2vw;
  font-weight: 600;
  text-align: left;
  color: black;
}

.singleCreatorAvatar {
  width: 11vw;
  height: 11vw;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 1vw;
  background-color: white;
  border: rgb(255, 255, 255) 1.2vw solid;
  position: absolute;
  top: 21vw;
  left: 2vw;
}

.singleCreatorDescription {
  color: #34283e;
  font-size: 2.2vw;
  padding: 1vw;
  margin-right: 6%;
  margin-left: 6%;
}

@media screen and (min-width: 1200px) {
  .title {
    background: none;
    color: rgb(124, 124, 124);
    height: 3vw;
    margin-bottom: 0;
    margin-top: 2vw;
    padding-left: 3vw;
    font-size: 1.5vw;
    box-shadow: none;
  }

  .container {
    margin: 2vw 2vw 1vw 2vw;
  }

  .singleCreatorContainer {
    width: 17.15vw;
    margin: 0 0.9vw 1.8vw;
    border-radius: 1vw;
    height: 26vw;
    /* background-color: rgb(255, 255, 255);
    margin: 0 2% 4%;
    box-shadow: 0.3vw 0.3vw 0.6vw 0px rgba(0, 0, 0, 0.2);
    position: relative;
    */
  }

  .singleCreatorArtwork {
    /* width: 100%; */
    height: 10.8vw;
    object-fit: cover;
    border-radius: 1vw 1vw 0 0;
  }

  .singleCreatorAvatar {
    width: 4vw;
    height: 4vw;
    margin-right: 1vw;
    border: rgb(255, 255, 255) 0.5vw solid;
    top: 8.4vw;
    left: 1vw;
  }

  .singleCreatorName {
    margin-left: 1.25vw;
    /* margin-top: 14%;
    margin-bottom: 1%; */
    font-size: 1.2vw;
    /* font-weight: 600;
    text-align: left;
    color: black; */
  }
  .singleCreatorDescription {
    font-size: 0.9vw;
    margin-left: 0.75vw;
    /* padding: 1vw;
    margin-right: 6%;
    margin-left: 6%; */
  }
  .titleHr {
    display: block;
    margin-top: 0;
    /* margin-bottom: 2vw; */
    margin-left: 3vw;
    margin-right: 3vw;
    border: none;
    border-top: 2px solid rgb(218, 218, 218);
  }
}
