.editProfileContainer {
  background-color: rgb(255, 255, 255);
  border-radius: 4%;
  margin: 0 2% 4%;
  box-shadow: 0.3vw 0.3vw 0.6vw 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6vw 4vw;
  /* height: 70vw; */
}

.title {
  background-image: linear-gradient(to right, #845fa1, #34283e);
  height: 17vw;
  border-bottom-right-radius: 15vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5vw;
  font-size: 4vw;
  font-weight: 600;
  margin-bottom: 1.5vw;
  box-shadow: 0.3vw 0.3vw 0.6vw 0 rgba(0, 0, 0, 0.4);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 82vw;
  margin: 2.5vw 0 5.5vw 0;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}
.form input,
.form textarea {
  margin-top: 2vw;
  margin-bottom: 1.5vw;
  padding: 3vw 5vw;
  font-size: 3vw;
  font-weight: 400;
  color: #000;
  background-color: #e8eaf6;
  border: none;
  border-radius: 0.5vw;
  resize: none;
}
.description {
  height: 15vh;
  padding: 0vw 5vw;
}
.label {
  font-size: 3.5vw;
  font-weight: 500;
  margin-top: 1.5vw;
}
.form input:hover {
  transition: 0.5s ease;
  background-color: #f5f5f5;
}
.form button {
  margin-top: 3.5vw;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  /* padding: 2.5vw 5vw 2.5vw 5vw; */
  border-radius: 0.5vw;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  background: rgb(231, 202, 127);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
  transition: all 0.2s ease;
  font-size: 2.5vw;
  height: 10vw;
}
.form button:hover {
  background: darken(rgb(231, 202, 127), 2%);
}

.form button:active {
  outline: none;
  background: darken(rgb(231, 202, 127), 7%);
}
.form button:focus {
  outline: none;
  background: darken(rgb(231, 202, 127), 7%);
}

.link {
  text-decoration: none;
  color: black;
  font-size: 2.5vw;
}
.link:hover {
  cursor: pointer;
}

.link:visited {
  color: black;
}

.link:link {
  color: black;
}

.error {
  margin-top: 3vw;
  color: #cc0033;
  font-size: 2.5vw;
  text-align: center;
  align-self: center;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: #fce4e4;
  border: 0.2vw solid #fcc2c3;
  border-radius: 0.5vw;
  padding: 3vw 5vw;
  width: 80vw;
}

.forgotPassword {
  font-size: 2.5vw;
  text-align: left;
  /* margin-right: 5vw; */
}

.forgotAndSignUpContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  margin-top: 1vw;
}
