.title {
  background-image: linear-gradient(to right, #845fa1, #34283e);
  height: 17vw;
  border-bottom-right-radius: 15vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5vw;
  font-size: 4vw;
  font-weight: 600;
  margin-bottom: 1.5vw;
  box-shadow: 0.3vw 0.3vw 0.6vw 0 rgba(0, 0, 0, 0.4);
}

.container {
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: start; */
  /* width: 80vw; */
}

.form {
  display: flex;
  flex-direction: column;
}
.form input {
  margin-bottom: 1.5vw;
  padding: 3vw 5vw;
  width: 80vw;
  font-size: 3vw;
  font-weight: 400;
  color: #000;
  background-color: #e8eaf6;
  border: none;
  /* outline: none; */
  border-radius: 0.5vw;
}
.form input:hover {
  transition: 0.5s ease;
  /* background-color: #fafafa; */
}
.form button {
  margin-top: 1.5vw;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border-radius: 0.5vw;
  color: #fff;
  font-weight: 700;
  background: rgb(231, 202, 127);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
  transition: all 0.2s ease;
  font-size: 3vw;
  width: 90vw;
  height: 10vw;
}
.form button:hover {
  background: darken(rgb(231, 202, 127), 2%);
}

.form button:active {
  outline: none;
  background: darken(rgb(231, 202, 127), 7%);
}
.form button:focus {
  outline: none;
  background: darken(rgb(231, 202, 127), 7%);
}

.container div div {
  /* margin-top: 0.7rem; */
  display: flex;
  justify-content: space-between;
}
.link {
  text-decoration: none;
  color: black;
  font-size: 2.5vw;
}
.link:hover {
  cursor: pointer;
}

.link:visited {
  color: black;
}

.link:link {
  color: black;
}

.error {
  margin-top: 3vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 1vw;
  color: #cc0033;
  font-size: 2.5vw;
  text-align: center;
  align-self: center;
  background-color: #fce4e4;
  border: 0.2vw solid #fcc2c3;
  border-radius: 0.5vw;
  padding: 3vw 5vw;
  width: 80vw;
}

.instructions {
  font-size: 2.75vw;
  width: 90vw;
  margin-bottom: 1.5vw;
}

.forgotPassword {
  /* font-size: 2.5vw; */
  text-align: left;
  /* margin-right: 5vw; */
}

.forgotAndSignUpContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  margin-top: 1vw;
}

.icon {
  height: 30vw;
  margin: 15vw 35vw 8vw;
}

.message {
  font-size: 3.5vw;
  text-align: center;
  width: 70vw;
}

.transactionLink {
  font-size: 3.5vw;
  text-align: center;
  width: 70vw;
  margin-top: 3vw;
  color: #845fa1;
  font-weight: 600;
}

.titleHr {
  display: none;
}

@media screen and (min-width: 1200px) {
  .title {
    background: none;
    color: rgb(124, 124, 124);
    height: 5vw;
    font-size: 2vw;
    box-shadow: none;
    align-items: left;
    padding-left: 0;
    width: 42vw;
    margin: 2vw auto 0;
    padding-bottom: 0;
  }

  .titleHr {
    width: 42vw;
    display: block;
    margin: -0.75vw auto 2vw;
    border: none;
    border-top: 2px solid rgb(185, 185, 185);
  }

  .container {
    margin-top: 3vw;
  }

  .form input {
    /* margin-bottom: 1.5vw;
    padding: 3vw 5vw; */
    width: 38vw;
    font-size: 1.2vw;
    padding: 1.5vw 2vw;
    /* font-size: 3vw;
    font-weight: 400;
    color: #000;
    background-color: #e8eaf6;
    border: none;
    border-radius: 0.5vw; */
  }

  .form button {
    /* margin-top: 1.5vw;
    border: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border-radius: 0.5vw;
    color: #fff;
    font-weight: 700;
    background: rgb(231, 202, 127);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
    transition: all 0.2s ease;
    font-size: 3vw; */
    width: 42vw;
    margin-top: 0;
    font-size: 1.5vw;
    height: 5vw;
    /* height: 10vw; */
  }

  .forgotAndSignUpContainer {
    width: 42vw;
    margin-top: 1vw;

  }

  .link {
    font-size: 1.2vw;
  }

  .error {
    /* m
    margin-left: 5vw;
    margin-right: 5vw;

    color: #cc0033; */
    font-size: 1.2vw;
    width: 38vw;
    padding: 1.5vw 2vw;
    margin-bottom: 0vw;
    margin-top: 1.5vw;
    border: 0.1vw solid #fcc2c3;
    /* text-align: center;
    align-self: center;
    background-color: #fce4e4;
    border: 0.2vw solid #fcc2c3;
    border-radius: 0.5vw;
    */
  }

  .icon {
    padding-right: 0.75vw ;
    height: 14vw;
    margin: 2vw auto 2.5vw;
  }

  .message {
    padding-right: 0.75vw ;
    font-size: 1.5vw;
    width: 36vw;
  }
}
