body {
  background-color: rgb(244, 246, 244);
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 2.5vw;
}
.link:hover {
  cursor: pointer;
}

.link:visited {
  color: black;
}

.link:link {
  color: black;
}

.mainContainer{
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}