.creatorCoverContainer {
  height: 41.5vw;
  background-color: black;
  background-image: linear-gradient(to left, #845fa1, #34283e);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  /* padding-left: 5vw; */
  margin-bottom: 5vw;
  position: relative;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.4);
}

.creatorCover {
  height: 30vw;
  width: 100%;
  object-fit: cover;
  border-bottom: rgb(244, 246, 244) 1vw solid;
}

.creatorAvatar {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 100%;
  background-color: rgb(244, 246, 244);
  border: rgb(244, 246, 244) 1vw solid;
  position: absolute;
  top: 20vw;
  right: 4vw;
}

.creatorName {
  color: white;
  margin-top: 2.25vw;
  margin-left: 4vw;
  font-size: 4.5vw;
  font-weight: 500;
}

.creationsOrCollection {
  margin-top: 3.5%;
  margin-left: 3.5%;
  margin-bottom: 0%;
}

.creationsOrCollection button {
  font-size: 3vw;
  border: none;
  outline: none;
  border-radius: 1vw;
  padding: 0.75vw 1.5vw;
  font-weight: 400;
  background-color: white;
  margin-right: 1vw;
}

.creationsOrCollection .selected {
  background-color: black;
  color: white;
}

.galleryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3% 1.5% 15vw 1.5%;
}

.singleArtworkContainer {
  background-color: rgb(255, 255, 255);
  width: 46%;
  border-radius: 4%;
  margin: 0 2% 4%;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.singleArtworkImage {
  width: 100%;
  border-radius: 5% 5% 0 0;
}

.singleArtworkTitle {
  margin-top: 3%;
  margin-left: 6%;
  margin-bottom: 1%;
  font-size: 3vw;
  font-weight: 600;
}

.singleArtworkCreator {
  display: flex;
  flex-direction: row;
  margin-left: 6%;
  align-items: center;
  font-size: 1.8vw;
  font-weight: 500;
  margin-bottom: 1.5%;
}

.singleArtworkCreatorAvatar {
  width: 3vw;
  border-radius: 100%;
  margin-right: 1vw;
}

.singleArtworkPrice {
  color: #34283e;
  font-size: 2.5vw;
  padding: 1vw;
  text-align: right;
  margin-bottom: 5%;
  margin-right: 6%;
}

.singleArtworkPriceAmount {
  font-weight: 600;
}

.empty {
  font-size: 3.75vw;
  margin-left: 3.5%;
  font-weight: 600;
  color: #8f8f8f;
}

@media screen and (min-width: 1200px) {
  .creatorCoverContainer {
    height: 20vw;
    margin-bottom: 2.5vw;
    /* background-image: linear-gradient(to left, #c9c9c9, #9b9b9b); */
    /* background-color: black;
    display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* padding-left: 5vw; */
    /* position: relative;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.4); */
  }

  .creatorCover {
    height: 15vw;
    /* width: 100%;
    object-fit: cover; */
    border-bottom: rgb(244, 246, 244) 0.5vw solid;
  }

  .creatorAvatar {
    width: 10vw;
    height: 10vw;
    /* object-fit: cover;
    border-radius: 100%;
    background-color: rgb(244, 246, 244);  */
    border: rgb(244, 246, 244) 0.5vw solid;
    /* position: absolute; */
    top: 7.5vw;
    right: 2vw;
  }

  .creatorName {
    margin-top: 1vw;
    margin-left: 3vw;
    font-size: 1.75vw;
    font-weight: 400;
    
  }

  .creationsOrCollection button {
    font-size: 1vw;
    border-radius: 0.75vw;
    padding: 0.5vw 1vw;
    margin-right: 0.5vw;
  }

  .creationsOrCollection {
    margin-top: 2vw;
    margin-left: 3vw;
    margin-bottom: 0%;
  }

  .galleryContainer {
    margin: 2vw 2vw 1vw 2vw;
  }

  .empty {
    font-size: 2vw;
    margin-left: 1.5vw;
    font-weight: 600;

  }

}
