@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

.spinnerBox {
  width: 20vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 30vh auto 0;
}

.circleBorder {
  width: 15vw;
  height: 15vw;
  padding: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(201, 201, 201);
  background: linear-gradient(0deg, #845fa1 33%, rgb(201, 201, 201) 100%);
  animation: spin 0.8s linear 0s infinite;
}

.circleCore {
  width: 100%;
  height: 100%;
  background-color: rgb(244, 246, 244);
  border-radius: 50%;
}

.smallSpinnerBox {
  width: 8vw;
  height: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0.7vw auto 0.7vw;
}

.smallCircleBorder {
  width: 6vw;
  height: 6vw;
  padding: 0.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(201, 201, 201);
  background: linear-gradient(0deg, #dabfee 33%, rgb(255, 255, 255) 100%);
  animation: spin 0.8s linear 0s infinite;
}

.smallCircleCore {
  width: 100%;
  height: 100%;
  background-color: rgb(231, 202, 127);
  border-radius: 50%;
}

.transactionSpinnerBox {
  width: 12vw;
  height: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0.7vw auto 0.7vw;
}

.transactionCircleBorder {
  width: 10vw;
  height: 10vw;
  padding: 0.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(201, 201, 201);
  background: linear-gradient(0deg, #dabfee 33%, rgb(255, 255, 255) 100%);
  animation: spin 0.8s linear 0s infinite;
}

.transactionCircleCore {
  width: 100%;
  height: 100%;
  background-color: #654b7a;
  border-radius: 50%;
}
